body {
 --mainBackgroundColor: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQImWM4cuDI/2vXrsExAzIHRQCmEkMFAFqRN53P94dKAAAAAElFTkSuQmCC) repeat;
}

#custom-css .table td, .table th {
    border-top: 1px solid #aaa;
}

.section {
    text-shadow: 1px 1px 0px #fff;
}

.margin-content .videos {
    --miniature-min-width: 218px;
}

#custom-css .header .top-left-block .icon.icon-menu {
    background-color: #fff;
}

.title-page, .video-miniature-name {
    text-shadow: 1px 1px 0px #fff;
}

.video-info {
  background: #fff;
  padding: 1%;
  border-radius: 5px;
}

my-video-comments {
    background: linear-gradient(#cecece,#9b9797);
    color: #fff;
    padding: 0% 1% 0% 1%;
    border-radius: 6px;
    box-shadow: 0px 0px 4px #888 inset;
}

.comment {
    background: linear-gradient(#fff, #f0f0f0);
    padding: 4px;
    margin: 5px 5px 10px 5px;
    border-radius: 3px;
    box-shadow: 2px 1px 3px #575757;
}

#custom-css .videos .video-miniature .video-bottom, #custom-css .other-videos .video-miniature .video-bottom {
    background: #fff;
    border-radius: 0px 0px 4px 4px;
    min-height: 95px;
}

#custom-css .video-miniature.display-as-row .video-bottom {
padding: 0;
background: none;
}

.video-miniature .video-miniature-information {
padding: 5px;
}

#custom-css .modal .modal-content {
    background-color: #fff;
}

span.comment-account-fid {
display: none;
}

#custom-css .comment my-user-moderation-dropdown {
margin-left: auto;
right: -15px;
position: relative;
}

#custom-css .comment a.comment-date {
margin-left: auto;
right: 3px;
position: relative;
}

#custom-css .root-comment .comment .comment-actions {
    margin-bottom: 0px;
    display: flex;
}

#custom-css .comment p {
    color: #000;
    margin: 10px;
}

my-video-comments .title-block .title-page {
    margin-right: 0;
    color: #000;
}

button#dropdown-sort-comment.video-js .vjs-watermark-top-right {
    right: 5px;
    top: 0;
    width: 60px;
}s, .title-block h2 {
  color: #fff;
}

#custom-css .header {
  background: linear-gradient(#8bceee, #7f86a8);
background-color: none;
  border-top: 1px solid #cce5ff;
  border-bottom: 1px solid #406297;
  box-shadow: none !important;
}

.header .top-left-block .icon.icon-menu {
    background-color: #fff;
    -webkit-mask-image: url(menu.1350325a50f233cc9067.svg);
    mask-image: url(menu.1350325a50f233cc9067.svg);
    margin: 0 18px 0 20px;
}

span.instance-name {
  color: #fff;
  text-shadow: 1px 1px 1px #000000ab;
}

#custom-css .top-menu svg.feather, #custom-css  .top-menu svg.material, #custom-css .footer-block svg.feather {
  color: #fff;
}

menu {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQImWMICQn5X1xcDMcMyBwUAZhKDBUAza4kx7SbOoUAAAAASUVORK5CYII=) repeat;
    color: #fff;
}

a.publish-button {
    background: linear-gradient(#64d056,#3f8a3d);
    border-top: 1px solid #a6ff94;
    border-left: 1px solid #7ecc68;
    border-right: 1px solid #2a5924;
    border-bottom: 1px solid #2e6423;
}

body#custom-css {
    --mainColor: #50ab49;
    --mainColorLighter: #63ce55;
    --mainColorLightest: #fce1cf;
    --mainHoverColor: #408d3e;
}

#custom-css .btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show > .btn-light.dropdown-toggle {
    background-color: #92999f;
}

#custom-css .logged-in-block > div:first-child {
    background: #00000054;
}

.jump-to-suggestions {
    background: #fff;
}

.login-form-and-externals, .instance-information {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

.upload-progress-cancel .progress .progress-bar, .upload-progress-retry .progress .progress-bar {
    background: rgb(180,58,58);
    background: linear-gradient(90deg, rgb(180, 58, 58) 0%, rgb(253, 124, 29) 22%, rgb(253, 249, 37) 45%, rgb(151, 252, 69) 57%, rgb(69, 252, 144) 78%);
    border-top: 1px solid #ffffffa6;
    border-bottom: 1px solid #00000042;
    border-left: 1px solid #ffffff73;
    border-radius: 3px;
}

.upload-progress-cancel .progress, .upload-progress-retry .progress {
    background-color: rgba(53, 55, 54, 0.16);
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    box-shadow: -1px 1px 2px #555 inset;
}

#custom-css .upload-progress-cancel .progress {
  background-color: rgba(49, 49, 49, 0.16);
}

.video-js .vjs-watermark-top-right {
    right: 5px;
    top: 0;
    width: 60px;
}
